* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-pic {
  max-width: 130px;
  max-height: 130px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.profile-pic:hover {
  transform: scale(1.2);
}

.profile-container {
  padding: 20px;
}

.container {
  text-align: center;
  background-color: #d2e0fb;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #393939;
  width: 700px;
  height: fit-content;
  margin: 0 auto;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #e9efec;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #393939;
  margin-top: 20px;
}

button:hover {
  background-color: #cadad3;
}

#copyright {
  font-size: 10px;
  margin-top: 20px;
}

.quote {
  margin-top: 20px;
}

.quote strong {
  display: block;
  margin-top: 10px;
}

h2 {
  margin-bottom: 5px;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2em;
  justify-content: center;
  gap: 5px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: lightgray;
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}

.star-rating input:checked ~ label {
  color: gold;
}

#saved-rating {
  display: inline-block;
  min-width: 10px;
  text-align: center;
}
