* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-pic {
  max-width: 130px;
  max-height: 130px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.profile-pic:hover {
  transform: scale(1.2);
}

.profile-container {
  padding: 20px;
}

.container {
  text-align: center;
  background-color: #d2e0fb;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #393939;
  max-width: 500px;
  max-height: 550px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #e9efec;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #393939;
  margin-top: 20px;
}

button:hover {
  background-color: #cadad3;
}

#copyright {
  font-size: 10px;
  margin-top: 20px;
}

.quote {
  margin-top: 20px;
}

.quote strong {
  display: block;
}

h2 {
  margin-bottom: 5px;
}
